@media (min-width: 576px){
    /* slider */
    .slider {
        background-image: url(../../assets/images/slider/background-slider.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        min-height: 611px;
    }

    .slider__box {
        background-color: rgba(18, 18, 18, 0.4);
    }

    .slider__container {
        max-width: 464px;
        background: rgba(0, 0, 0, 0.5);
        color: var(--white-text);
        padding: 40px;
        height: initial;
    }

    .slider__heading {
        font-size: 5.2rem;
    }
}

@media (min-width: 768px){
    .collage__item--new {
        flex-direction: column-reverse;
    }
}

@media (min-width: 992px) {
    .container {
        padding-inline: 64px;
    }
    /* text size */
    h1,
    .heading-1 {
        font-size: 5.2rem;
    }

    .h2,
    .heading-2 {
        font-size: 4rem;
    }

    .h3,
    .heading-3 {
        font-size: 2.4rem;
    }

    /* header */
    .header {
        margin-bottom: 0px;
    }

    .header__main {
        height: 72px;
    }

    .header__logo {
        margin-right: 42px;
    }

    .header__menu {
        display: block;
        flex: 1;
    }

    .header__actions {
        gap: 24px;
    }

    /* product */
    .product__price--old {
        display: inline-block;
        margin-right: 10px;
    }

    /* === collage === */
    .collage__items {
        grid-template-columns: repeat(3, 1fr);

    }
    
    .collage__item--large {
        grid-column: span 2;
        grid-row: span 2;
    }

    /* === footer === */
    .link__item a {
        color: var(--gray-text);
    }
    
    .footer__context {
        color: var(--gray-text);
    }

   /* === start blog === */
   .blog{
        margin-top: 92px;
    }

    .gallery__item {
        height: 570px;
    }

    .lg-h-50 {
        height: 280px;
    }

    .gallery__heading {
        margin: 0;
        margin-bottom: calc(64px - var(--gutter));
    }

    .blog__center {
        text-align: center;
    }

    .blog__content p {
        margin-top: 4px;
    }

    /* === start about === */
    .about-promise {
        margin-bottom: 0px;
    }

    /* === cart === */
    .cart__item {
        grid-template-columns: auto 1fr auto auto;
        grid-template-areas: "image title quantity total";
    }

    .cart__content .cart__image {
        width: 100px;
        height: 100px;
        margin-right: 24px;
    }

    .cart__quantity {
        width: 300px;
    }

    .cart__footer {
        text-align: right;
    }

    .product-cart__view {
        display: flex;
    }

    /* === product-detail === */
    .product-detail__info {
        padding-left: calc(40px - var(--gutter) * 2);
    }

    .product-detail__media {
        display: grid;
        overflow: hidden;
        grid-template-columns: 1fr 1fr;
    }

    .media__item--big {
        grid-column: span 2;
    }

    .banner-detail__container {
        flex-direction: row-reverse;
    }

    .product-search__container {
        grid-template-columns: 1fr 1fr 1fr;
        gap: calc(2 * var(--gutter));
    }

    .policy__context {
        color: var(--black-text);
    }
}

@media (min-width: 1024px) {
    

    /* slider */

    /* footer */
    .footer__link {
        padding-left: 40px;
    }
    
    .link__items {
        padding-top: 8px;
    }

    .footer .social__items {
        margin-top: 0;
        justify-content: flex-start;
    }

    .footer form {
        padding: 0;
    }

    .footer__heading {
        text-align: left;
    }

    .footer__select-box {
        justify-content: flex-start;
    }

    .footer__select {
        margin-right: 24px;
    }

    .footer__input {
        margin-top: 16px;
    }

    .footer__listpay {
        gap: 24px;
    }

    .footer__hr2 {
        margin: 0;
        bottom: 200px;
        left: 0;
        right: 0;
    }

    /* =============== */
    /* === start page collection === */
    .classify__sort {
        margin: calc(32px - var(--gutter) * 2) 0;
    }

    .sort__item {
        color: var(--black-text);
    }

    /* === start page about === */
    .about-promise {
        background-color: var(--black);
        color: var(--white-text);
        padding: 64px;
    }

    /* === start page article === */
    .article {
        padding-top: calc(64px - var(--gutter));
    }

    .article__img .container {
        padding-inline: 64px;
    }

    .article__share {
        margin-top: 48px;
    }

}

@media (min-width: 1200px) {
    
}